---
openapi: 3.0.1
info:
  title: CJM Reporting Service
  description: Api Service for CJM Reporting
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    email: sierra-reporting-team@adobe.com
  license:
    name: Adobe All rights reserved
    url: https://www.adobe.com/legal/terms.html
  version: 1.0.0
servers:
  - url: https://platform.adobe.io/journey/reporting
paths:
  "/operational/timeseries":
    post:
      tags:
        - operational-reporting-controller
      summary: Returns the Timeseries Report
      operationId: createTimeseriesReport
      parameters:
        - name: x-api-key
          in: header
          description: The api key for which the request is being sent.
          required: true
          schema:
            type: string
        - name: x-gw-ims-org-id
          in: header
          description: The ims org id for which the request is being sent.
          required: true
          schema:
            type: string
        - name: x-sandbox-name
          in: header
          description: Provides the platform Sandbox Name
          required: true
          schema:
            type: string
        - name: x-sandbox-id
          in: header
          description: Provides the platform Sandbox ID
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TimeseriesRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Response"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
      security:
        - bearer-key: []
  "/operational/stats":
    post:
      tags:
        - operational-reporting-controller
      summary: Returns the Stats Report
      operationId: createStatsReport
      parameters:
        - name: x-api-key
          in: header
          description: The api key for which the request is being sent.
          required: true
          schema:
            type: string
        - name: x-gw-ims-org-id
          in: header
          description: The ims org id for which the request is being sent.
          required: true
          schema:
            type: string
        - name: x-sandbox-name
          in: header
          description: Provides the platform Sandbox Name
          required: true
          schema:
            type: string
        - name: x-sandbox-id
          in: header
          description: Provides the platform Sandbox ID
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StatsRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Response"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
      security:
        - bearer-key: []
  "/business/report":
    post:
      tags:
        - business-reporting-controller
      summary: Returns info related to business reporting
      operationId: getBusinessReport
      parameters:
        - name: x-api-key
          in: header
          description: The api key for which the request is being sent.
          required: true
          schema:
            type: string
        - name: x-gw-ims-org-id
          in: header
          description: The ims org id for which the request is being sent.
          required: true
          schema:
            type: string
        - name: x-sandbox-id
          in: header
          description: The sandbox id for which the request is being sent
          required: true
          schema:
            type: string
        - name: x-sandbox-name
          in: header
          description: The sandbox name for which the request is being sent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BusinessRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Response"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
      security:
        - bearer-key: []
components:
  schemas:
    ApiError:
      type: object
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
          format: int32
        report:
          "$ref": "#/components/schemas/ErrorContext"
        error-chain:
          type: array
          items:
            "$ref": "#/components/schemas/ServiceError"
    ErrorContext:
      type: object
      properties:
        tenantInfo:
          "$ref": "#/components/schemas/TenantInfo"
        additionalContext:
          type: object
          additionalProperties:
            type: string
    ServiceError:
      type: object
      properties:
        serviceId:
          type: string
        errorCode:
          type: string
        invokingServiceId:
          type: string
        unixTimeStampMs:
          type: integer
          format: int64
    TenantInfo:
      type: object
      properties:
        sandboxName:
          type: string
        sandboxId:
          type: string
        imsOrgId:
          type: string
    Datapoint:
      type: object
      properties:
        tagValue:
          type: string
    Metric:
      type: object
      properties:
        totalValue:
          type: integer
          format: int32
        others:
          type: integer
          format: int32
        metric:
          type: string
        datapoints:
          type: array
          items:
            "$ref": "#/components/schemas/Datapoint"
    Response:
      type: object
      properties:
        metrics:
          type: array
          items:
            "$ref": "#/components/schemas/Metric"
    DateRange:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
    Filter:
      type: object
      properties:
        tagName:
          type: string
        tagValues:
          type: array
          items:
            type: string
    TimeseriesRequest:
      type: object
      properties:
        metrics:
          type: array
          items:
            type: string
        dateRange:
          "$ref": "#/components/schemas/DateRange"
        filters:
          type: array
          items:
            "$ref": "#/components/schemas/Filter"
        groupBy:
          type: array
          items:
            type: string
        granularity:
          type: string
          enum:
            - ALL
            - MINUTE
            - FIVE_MINUTE
            - FIFTEEN_MINUTE
            - THIRTY_MINUTE
            - HOUR
        topNRequest:
          type: boolean
        requestType:
          type: string
          enum:
            - STATS
            - TIMESERIES
    StatsRequest:
      type: object
      properties:
        metrics:
          type: array
          items:
            type: string
        dateRange:
          "$ref": "#/components/schemas/DateRange"
        filters:
          type: array
          items:
            "$ref": "#/components/schemas/Filter"
        groupBy:
          type: array
          items:
            type: string
        limit:
          type: string
        sortOrder:
          type: string
          enum:
            - ASC
            - DESC
        granularity:
          type: string
          enum:
            - ALL
            - MINUTE
            - FIVE_MINUTE
            - FIFTEEN_MINUTE
            - THIRTY_MINUTE
            - HOUR
        topNRequest:
          type: boolean
        requestType:
          type: string
          enum:
            - STATS
            - TIMESERIES
    BusinessRequest:
      type: object
      properties:
        sql:
          type: string
        groupBy:
          type: array
          items:
            type: string
        queryParameters:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    bearer-key:
      type: http
      scheme: bearer
      bearerFormat: JWT        
 