swagger: "2.0"
info:
  title: Sandbox Export/Import Service API
  description: |
    The Export/Import Service, or "Exim", is a AEP micro-service.  It's purpose is to
    * Take a **snapshot** of artifacts in a sandbox. This is referred to as **Export**, and it provides a mechanism for someone to share their AEP definitions and data.
    * Furnish a sandbox with one or more snapshots.  This is referred to as **Import**, and it allows for the fast and easy duplication of AEP artifacts.
  version: 1.1.6
host: platform.adobe.io
basePath: /data/foundation/exim
schemes:
  - https
paths:
  /ping:
    get:
      summary: Check the service health
      description: Returns a status
      produces:
        - application/json
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: x-api-key
      responses:
        200:
          description: Request successful
          schema:
            $ref: '#/definitions/Health Check Response'
  /snapshots/export:
    post:
      summary: Export Artifacts asynchronously
      description: Exports artifacts from the specified sandbox
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: User Bearer token
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: x-api-key
        - in: header
          name: x-gw-ims-org-id
          schema:
            type: string
          required: true
          description: x-gw-ims-org-id
        - in: header
          name: x-sandbox-name
          schema:
            type: string
          required: true
          description: x-sandbox-name
        - in: body
          name: request
          schema:
            $ref: '#/definitions/Export Body'
          required: true
          description: request
      responses:
        200:
          description: Request successful
          schema:
            $ref: '#/definitions/Response'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Any error encountered while retrieving details
  /snapshots/import/{snapshotId}:
    get:
      summary: Import Artifacts asynchronously
      description: Imports artifacts to the specified sandbox
      produces:
        - application/json
      parameters:
        - in: path
          name: snapshotId
          schema:
            type: string
          required: true
          description: Snapshot ID containing artifacts to import
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: User Bearer token
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: x-api-key
        - in: header
          name: x-gw-ims-org-id
          schema:
            type: string
          required: true
          description: x-gw-ims-org-id
        - in: header
          name: x-sandbox-name
          schema:
            type: string
          required: true
          description: x-sandbox-name
      responses:
        200:
          description: Request successful
          schema:
            $ref: '#/definitions/Response'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Any error encountered while retrieving details
  /snapshots/copy:
    post:
      summary: Copy Artifacts synchronously
      description: Copies artifacts from the source sandbox provided in the header to the destination sandbox provided in the body
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: User Bearer token
        - in: header
          name: x-api-key
          schema:
            type: string
          required: true
          description: x-api-key
        - in: header
          name: x-gw-ims-org-id
          schema:
            type: string
          required: true
          description: x-gw-ims-org-id
        - in: header
          name: x-sandbox-name
          schema:
            type: string
          required: true
          description: x-sandbox-name
        - in: body
          name: request
          schema:
            $ref: '#/definitions/Copy Body'
          required: true
          description: request
      responses:
        200:
          description: Request successful
          schema:
            $ref: '#/definitions/Response'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Any error encountered while retrieving details
definitions:
  Health Check Response:
    type: object
    properties:
      status:
        type: boolean
        description: true if returned explicitly by the service health check
  Export Body:
    type: object
    properties:
      name:
        type: string
        description: Image name (optional)
      description:
        type: string
        description: Image description (optional)
      visibility:
        type: object
        description: Visibility
      artifacts:
        type: array
        description: List of artifacts
        items:
          type: object
          properties:
            id:
              type: string
              description: Unique ID of the artifact
            type:
              type: string
              description: 'Artifact type. Ex: REGISTRY_SCHEMA, CATALOG_DATASET, JOURNEY, ...'
            version:
              type: string
              description: Artifact version (only applies to Registry objects)
            visibility:
              type: string
              description: Visibility (tenant or global). Only applies to Registry objects
            found:
              type: boolean
              description: true if found using GET operation
            tasks:
              type: array
              description: List of post-export tasks. Directive from Plugin to handle things like circular dependencies
              items:
                type: object
                properties:
                  method:
                    type: string
                  action:
                    type: string
                  with:
                    type: object
                    description: Circular reference.  Must include an id and type
                  using:
                    type: string
                    description: PluginEnum.TYPE.toString()
            messages:
              type: array
              description: List of messages.  Import warnings and errors should be itemized here, plus any relevant message from the service API
              items:
                type: object
                properties:
                  status:
                    type: string
                    description: 'Status that this message represents. Ex: ERROR'
                  attempt:
                    type: integer
                    description: The attempt number to which this message pertains. May be useful if different attempts produce varying messages
                  message:
                    type: string
                    description: Text of the message. This usually originates from the service API but may originate from Exim
                  object:
                    type: object
                    description: Rich details of the message
  Copy Body:
    type: object
    properties:
      name:
        type: string
        description: Image name (optional)
      description:
        type: string
        description: Image description (optional)
      visibility:
        type: object
        description: Visibility
      destinationSandbox:
        type: object
        description: Sandbox in which to create artifacts
      artifacts:
        type: array
        description: List of artifacts
        items:
            type: object
  Response:
    type: object
    title: Response
    required:
      - active
      - channel
      - messages
      - packageId
    properties:
      status:
        type: object
        description: HTTP status code
      type:
        type: object
        description: SUCCESS or ERROR
      message:
        type: string
        description: Message to requestor
      object:
        type: object
        description: JSON-formatted object containing the results of the request
